<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="card container auth-form">
            <h5>Forgot Password?</h5>
            <img src="/images/2020-08-18T21:18:26.788Z-logo-white.jpg" class="card-img-top" alt="Image">
            <div class="card-body">
                <% if (errorMessage) { %>
                    <div class="alert alert-danger"><%= errorMessage %></div>
                <% } %>
                <form class="login-form" action="/forgotPassword" method="POST">
                    <div class="form-group">
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input 
                            
                            class="form-control"
                            type="email" 
                            name="email" 
                            id="email"
                            placeholder="Email">
                        </div>
                    </div>

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-outline-secondary" type="submit">Send Email</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>
        
       
