<%- include('../includes/head.ejs') %>

</head>
<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <div class="card container auth-form">
      <img src="/images/2020-08-18T21:18:26.788Z-logo-white.jpg" class="card-img-top" alt="Image">
      <div class="card-body">
        <form class="reset-form" action="/resetPassword" method="POST">
          <div class="form-group">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">&#8226</span>
                </div>
                <input 
                    class="form-control"
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Password"
                    >
            </div>
          </div>
          <input type="hidden" name="userId" value="<%= userId %>" />
          <input
            type="hidden"
            name="passwordToken"
            value="<%= passwordToken %>"
          />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="btn btn-outline-secondary" type="submit">
            Update Password
          </button>
        </form>
      </div>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
