<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="d-flex flex-row">
                    <%- include('../includes/sidebar.ejs') %>
                    <% if (prods.length > 0) { %>
                        <div class='product-list'>
                            <ul class="list-group product">
                                <% for (let product of prods) { %>
                                    <article>
                                        <li class="list-group-item">
                                            <div class="d-flex justify-content-start flex-row">
                                                <div class="product-image">
                                                    <a href="/products/<%= product._id %>">
                                                        <img src="/<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
                                                    </a>
                                                </div>
                                                <div class="product card-body d-flex flex-column">  
                                                    <h5 class="d-flex">
                                                        <a href="/products/<%= product._id %>"><%= product.title %></a>
                                                    </h5>
                                                    <h6 class="d-flex">$
                                                        <%= product.price %>
                                                    </h6>
                                                    <p class="text-left">
                                                        <%= product.description %>
                                                    </p>
                                                    <div class="card__actions d-flex flex-row">
                                                        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-secondary">Edit</a>
                                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                        <button class="btn btn-outline-danger admin-delete" type="button">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </article>
                                <% } %>
                            </ul>
                        </div>
                    <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>
                </div>
                <% if (prods.length > 0) { %>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                <% } %>
            </main>
        <%- include('../includes/end.ejs') %>
            